.page-work-hours-confirm{
    height: 100%;
    padding-bottom: 56px;
    box-sizing: border-box;
    overflow-y: auto;
    .weui-cells{
        font-size: 14px;
        margin-top: 0;
        border-bottom: 1px solid #ccc;
    }

    .work-hours-wrap{
    }
    
    .table{
        margin-top: 30px;
    }

    .btn-wrap{
        width: 100%;
        position: fixed;
        bottom: 0;
        .weui-btn{
            border-radius: 0;
        }
    }
}