.page-work-hours-confirm{
    height: 100%;
    padding-bottom: 56px;
    box-sizing: border-box;
    overflow-y: auto;
    .weui-cells{
        font-size: 14px;
        margin-top: 0;
    }

    .work-hours-wrap{
        // margin-top: 35px;
    }
    
    .table{
        margin-top: 10px;
    }

    .btn-wrap{
        width: 100%;
        position: fixed;
        bottom: 0;
        .weui-btn{
            border-radius: 0;
        }
    }
}

.container{
    .vux-popup-header-title{
        font-size: 12px;
    }
    .vux-popup-header-left{
        color: #10aeff;
    }
}